{% if event.shopUser.username|default(null) is not null %}
    {% set shopUserLink = path('sylius_admin_customer_show', {id: event.shopUser.customer.id}) %}
    {% set user = '<a href="' ~ shopUserLink ~ '"><i class="user outline icon"></i> ' ~ event.shopUser.username ~ '</a>' %}
{% elseif event.adminUser.username|default(null) is not null %}
    {% set adminUserLink = path('sylius_admin_admin_user_update', {id: event.adminUser.id}) %}
    {% set user = '<a href="' ~ adminUserLink ~ '"><i class="lock icon"></i> ' ~ event.adminUser.username ~ '</a>' %}
{% else %}
    {% set user = '<i class="user secret icon"></i> ' ~ ' anonymous' %}
{% endif %}
<div class="date">
    {{ event.createdAt|format_datetime('full', 'long', locale='fr') }}
    (
    {{ 'mbiz_order_history.ui.ip'|trans }}: {{ event.ip }} | {{ 'mbiz_order_history.ui.firewall'|trans }}: {{ event.firewall }} | {{ user|raw }}
    {% if hasDetails %}
        | <span>{{ 'mbiz_order_history.ui.click_for_more_details'|trans }}</span>
    {% endif %}
    )
</div>
